/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:wght@200;400;500;600;700&family=Roboto+Mono:wght@300&family=Titillium+Web&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
    background: whitesmoke ;
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    
}
.influencer-title{
    margin-top: 50px;
margin-left: 20px;
}
.influencer-detail{
    margin-top: 80px;
display: flex;
}
.influencer-mini{
    width: 582px;
    height: 210px;
}
h1{
    font-size: 42px;
}
.container{
    display: flex; 
}
.influencer img{
    width: 70%;
    margin-left: 65px;
}

 .a{
    text-decoration: none;
  
    color: rgb(255, 255, 255);
    padding: 5px 24px;
 
  
    background: #E02C6D;
    border-radius: 41px;


}
.container-tre .flexible {

    text-align: center;
}
.container2{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
    
   
}
.product {
    width: 60%;
    margin-left: 5%;
    margin-right:5%;
    padding-left: 20px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 8px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 16px;
box-shadow: 1px 1px 10px rgb(214, 212, 212);
cursor: pointer;
}
.product img{
    width: 118%;
    
}
.detail{
    font-size: 12px;
}
.influencer img{
    border-radius: 15px;
}


.see a{
    text-decoration: none;
    color: #E02C6DDE;
   margin-left: 87%;


   
}
.container-4{
    display: flex;
   
}
.influencer-4 img{
    margin-right: 20px;
width: 350px;
padding: 20px;
}
.gear-title{
    padding: 70px;
}
.featured{
    color: #0A0826;
}
.second-list{
    margin-bottom: 50px;
}
.fa-star.filled{
    color: #ffc014;}

.fa-star.emty{
        color: #aeaeae;
}
.fa-star {
    font-size: 8px;
}
.ratings{
    font-size: 12px;
}

.footer-section footer {
    text-align: center;
    background-color: rgb(13, 13, 56);
    color: white;

    padding:40px 0px; 

  
}
.gear-title p a{
    background-color: #E02C6DDE;
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    
    
}
.influencer{
    display: flex;
}
 

/* media quaries */
@media only screen and (max-width:688px) {
    .content{
        width: 100px;
    }
    .container ,.container-tre,.container2{
        grid-template-columns: repeat(1, 1fr);
       
        
    
    }
    .container-tre{
        margin-top: 100px;
    }
    .influencer-detail, .influencer-mini ,.text ,.influencer{
        flex-direction:column-reverse;
            
    }
    /* .container-tre, .container2, .container-4, .footer-section, .see  */
.container-4, .footer-section, .see {
    display: none;
}


  
   

   